<!DOCTYPE html>
<html>
<head>
    <title>CookMate</title>
     <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        .recipe-card {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 8px;
        }
        .matched {
            color: green;
        }
        .missing {
            color: red;
        }
    </style>
</head>
<body>

<h1>CookMate 🍳</h1>

<h2>Select Ingredients:</h2>

<input type="text" id="ingredientInput" placeholder="Enter ingredient">
<button type="button" onclick="addIngredient()">Add</button>

<ul id="ingredientList"></ul>


<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="ingredients" id ="finalIngredients" placeholder="e.g. tomato, onion, rice" value="">
    <button type="submit">Find Recipes</button>
</form>

<hr>

<h2>Recommended Recipes:</h2>

<ul>
    {% for item in recipes %}
        <li>
            <strong>{{ item.recipe.name }}</strong><br>
            Match Score: {{ item.match_count }}<br>
            Cooking Time: {{ item.recipe.cooking_time }} mins<br>
            Difficulty: {{ item.recipe.difficulty }}<br>
        </li>
    {% empty %}
        <p>No recipes found</p>
    {% endfor %}
</ul>

<script>
let ingredients = [];

function addIngredient() {
    let input = document.getElementById("ingredientInput");
    let value = input.value.trim();

    if (value !== "") {
        ingredients.push(value);
        input.value = "";
        renderList();
    }
}

function removeIngredient(index) {
    ingredients.splice(index, 1);
    renderList();
}

function renderList() {
    let list = document.getElementById("ingredientList");
    list.innerHTML = "";

    ingredients.forEach((item, index) => {
        list.innerHTML += `
            <li>
                ${item}
                <button onclick="removeIngredient(${index})">Remove</button>
            </li>
        `;
    });

    document.getElementById("finalIngredients").value = ingredients.join(",");
}
</script>

</body>
</html>